@import url(https://fonts.google.com/specimen/Barlow+Semi+Condensed);

body {
    background-color: rgb(237, 242, 248);
    margin: auto;
    position: fixed;
    right: 0rem;
    bottom: 0rem;
    top: 0rem;
    left: 0rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: rgb(167, 171, 175);
    font-size: 0.8127rem;
}

.global-content {
    position: absolute;
    top: auto;
}

.wrapper {
    margin: 3.1248rem 7.497rem 3.1248rem 7.497rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: hsl(263, 55%, 52%);
    margin: 0rem 1.242rem 1.242rem 0rem;
    border-radius: 0.625rem;
    background-image: url(bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 0rem right 5.55vw;
}

.two {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: hsl(217, 19%, 35%);
    margin: 0rem 1.242rem 1.242rem 0rem;
    border-radius: 0.625rem;
}

.three {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: var(--white-color);
    margin: 0rem 1.242rem 0rem 0rem;
    border-radius: 0.625rem;
}

.four {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: hsl(219, 29%, 14%);
    margin: 0rem 1.242rem 0rem 0rem;
    border-radius: 0.625rem;
}

.five {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: var(--white-color);
    border-radius: 0.625rem;
}

.title-background {
    color: var(--white-color);
}

.title-black {
    color: rgb(33, 43, 58);
}

.review {
    padding: 1.8747rem;
}

.div-testimonials {
    display: flex; 
}

.image {
    width: auto;
    height: 2.493rem;
    border-radius: 50%;
}

.border {
    border: 1px solid hsl(263, 55%, 52%);
}

.div-name {
    margin-left: 0.625rem;
}

.p-name {
    color: var(--white-color);
    margin-top: 0.1872rem;
}

.p-name-black {
    color: rgb(33, 43, 58);
    margin-top: 0.1872rem;
}

.p-verified {
    margin-top: -0.625rem;
}


@media screen and (max-width: 830px) {
    body {
        font-size: 2.27rem;
    }
    
    .wrapper {
        margin: 3.1248rem 7.497rem .3.1248rem 7.497rem;
        display: inline-block;
    }
    
    .one {
        margin: 0rem 1.242rem 3.56rem 0rem;
        border-radius: 0.694vw;
        background-image: url(bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-size: 20vw;
        background-position: top 0vw right 5.55vw;
    }
    
    .two {
        margin: 0rem 1.242rem 3.56rem 0rem;
        border-radius: 0.6245rem;
    }
    
    .three {
        margin: 0vw 1.38vw 3.56rem 0vw;
        border-radius: 0.6245rem;
    }
    
    .four {
        background-color: hsl(219, 29%, 14%);
        margin: 0rem 1.242rem 3.56rem 0rem;
        border-radius: 0.6245rem;
    }
    
    .five {
        background-color: var(--white-color);
        border-radius: 0.6245rem;
    }
    
    .title-background {
        color: var(--white-color);
    }
    
    .title-black {
        color: rgb(33, 43, 58);
    }
    
    .review {
        padding: 5.4rem;
    }
    
    .div-testimonials {
        display: flex; 
    }
    
    .image {
        width: auto;
        height: 5.4rem;
        border-radius: 50%;
    }
    
    .div-name {
        margin-left: 0.6246rem;
    }
    
    .p-name {
        margin-top: 0.1871rem;
    }
    
    .p-name-black {
        margin-top: 0.1871rem;
    }
    
    .p-verified {
        margin-top: -0.6246rem;
    }
}
